# development or production
MATRIX_MODE=development

# A fake "address" to where data would be stored
DATABASE_URL=file://local_database

# secret key to access API
API_KEY=password

# DEBUG / INFO / WARNING / ERROR
LOG_LEVEL=DEBUG

# A fake server URL (endpoint)
ZION_ENDPOINT=https://something.com/api
